body {
  scroll-behavior: smooth;
  position: relative;
}

.about {
  font-style: italic;
  font-weight: 200;
  text-align: center;
  color: #008b00;
}

.img-wrapper {
  max-height: 12em;
  overflow: hidden;
}

#header-img {
  height: 30px;
  width: auto;
}

iframe {
  max-height: 75vh;
}

.card {
  margin: 10px;
  width: 18em;
}

.contact-circle {
  height: 10em;
  width: 10em;
  background-color: #e7e9ff;
  border: 0.75em solid #454cba;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #454cba;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contact-circle:hover {
  background-color: white;
  border-radius: 5em;
  color: #231c82;
  text-decoration: none;
}

.contact-link {
  margin: 0.5em;
}

@media (min-width: 768px) {
  .page {
    padding: 80px;
  }

  .feature-heading {
    text-align: left;
  }

  .feature-description {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .page {
    padding: 80px 0px 40px 0px;
  }

  .feature-heading {
    text-align: center;
  }

  .feature-description {
    text-align: justify;
  }
}
#main {
  height: 100vh;
  background-color: #bbf;
}
#main #welcome-section {
  min-height: 100vh;
  background-color: #ffb;
}
#main #about {
  min-height: 100vh;
  background-color: #fbb;
}
#main #projects {
  min-height: 100vh;
  background-color: #bfb;
}
#main #contact {
  min-height: 100vh;
  background-color: #bbf;
}

.icon {
  color: #f57f17;
  margin: 10px;
  padding: 10px;
}

footer {
  display: flex;
  border-top: 2px solid #434343;
  padding: 10px 10px 10px 10px;
  min-height: 60px;
}
footer .line {
  background-color: #ccc;
}
